body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cLight{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tgray{
  color:rgba(0,0,0,.5)
}
.indent{
  text-indent:50px
}
#VNav{
  height:100vh;
  display:block
}
#nBrand{
  padding-top:5rem;
  padding-bottom: 2.6rem;
  font-size: 2.1rem;
}
#contactImage{
  max-width: 100%;
  display:block;
  height:auto;
  max-height:522px
}
.paintingImage{
  max-width: 100%;
  display:block;
  height:auto;
  max-height:522px
}
.blockContainer{
  text-align: left;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5.5rem;
  max-width: 600px;
}
@media screen and (max-width:767px){
  .blockContainer{
    padding-top: 0.5rem;
    padding-left: 2rem
  }
}
@media screen and (min-width:768px){
  .navbar-brand{
    white-space: normal;
  }
}
.garamond{
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  color:rgba(0,0,0,.5)
}